@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}
/* banner styles */
.banner {
  position: relative;
  width: 1320px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* টেক্সট সেন্টার করার জন্য */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(254, 195, 3);
  text-align: center;
}

.text h3 {
  font-size: 24px;
  margin: 0;
}

.text h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 0;
}

/* banner-2 styles */
.banner-2{
  width: 802px;
  height: 806px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
}

.banner-title{  
  font-size: 88px;
  font-weight: bold;
  color: #FF0000;
}
.banner-text{
  font-size: 20px;
  color: #FF0000;
  
}
.banner-subtitle{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}

.banner-2 img{
  width: 100%;
  height: 450px;
}

/* welcome-section styles */
.welcome-section{
  display: flex;
  width: 1320px;
  height: 600px;
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 40px;
}
.welcome-banner{
  color: white;
  margin: 126px 94px;
}

.welcome-text{
  font-size: 64;
  font-weight: 900;
  
}
.description{
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #aaa8a8;
  margin-top: 24px;
}
.join-but{
  font-size: 20px;
  font-weight: bold;
  margin-top: 48px;
}

.img-section{
  width: 319px;
  height: 464px;
  margin: 68px 138px;
}

/* ardes styles */
.ardes{
   position: relative;
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  background-color: #fad7d7;
  border-radius: 16px;
  margin-top: 120px;
}

.ardes-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.ardes-text span{
  font-family: "Inter", sans-serif;
  color: #FF0000;
  font-size: 32;
  font-weight: 600;
}

.btn{
  font-size: 20px;
  font-weight: 200;
  padding: 12px;
  background-color: #FF0000;
  border: 1px solid #FF0000;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}

/* offer-container styles */
.offer-container{
  display: flex;
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.offer-text{
  height: 255px;
  width: 393px;
  margin-top: 120px;
  
}
.text-1{
  color: #FF0000;
  font-size: 20px;
  
}
.text-2{
  font-size: 48px;
  font-weight: bold;
}
.text-3{
  color: #0e0324;
  font-size: 16px;
  opacity: 0.6;
}

.offer-img img{
  width: 250px;
  height: 250px;
  margin-left: 70px;
  margin-right: 118px;
  border-radius: 50%;     /* একে বৃত্ত বানায় */
  border: 10px solid red; /* লাল বর্ডার */
  padding: 20px;          /* ছবির চারপাশে জায়গা */
  background-color: white;
  margin-top: 100px;
  
}

.title{
  margin-top: 130px;
  margin-left: 100px;
}

.title-1{
  width: 276px;
  height: 170px;
}
.main-title{
  color: #FF0000;
  font-size: 48px;
}

.title-discription{
  opacity: 0.6;
}

/* Sele section styls */

.sele{
  width: 1320px;
  height: 983px;
  margin: 0 auto;
}

.sele-img-main{
  display: flex;
  gap: 40px;
}

.sele-title{
  text-align: center;

}

.subtitle{
  font-size: 15px;  
  font-family: "Inter", sans-serif;
}

.sele-title span{
  color: #FF0000;
}

.sele-title-1{
  font-size: 72px;
  font-weight: bolder;
}

.sele-discription{
  font-size: 15px;
  opacity: 0.6  ;
}


.img-1{
  width: 600px;
  height: 500px;
  margin: 20px;

}
.img-2{
  width: 305px;
  height: 305px;
  margin-left: 200px;
  margin-top: 150px;
}

/* img-section styles */

.main-img-section{
  width: 1320px;
  height: 1163px;
  margin: 100px auto;
  
}

.main-img-section img{
  margin: 5px;
}

.img-subtitle{
  font-size: 16px;
  color: #FF0000;
  font-family: "Inter", sans-serif;
}
.img-title{
  font-size: 48px;
  font-weight: bold;
}

.img-discription{
  font-size: 15px;
  font-family: "Inter", sans-serif;
  
}

/* email section styles */
.email{
  width: 1320px;
  height: 616px;
  background-color: #efcbcb;
  margin: 0 auto;

}

.email-section{
  text-align: center;
  display: inline;
  /* flex-direction: column; */
}
.email-section img{
  margin-left: 600px;
  margin-top: 100px;
  
}

.email-title{
  font-size: 48px;
  font-weight: bold;
}

.email-discription{
  font-size: 15px;
  color: #0a0318;
}


input{
  padding: 12px 20px;
  text-align: start;
  border: 1px solid white;
  border-radius: 20px;
  border-radius: 50px 0 0 50px;
  margin-left: 20px;
}

button{
  padding: 12px 25px;
  color: white;
  border: 1px solid #FF0000;
  background-color: #FF0000;
   border-radius: 0 50px 50px 0;
}
